event_bd {
    border-style: outset;
    
}

.head {
    color: #fff;
    text-align: center;
    font-size: 2.5em;
    margin-top: 0;
}

.he2 {
    padding: 1.15em 0;
    line-height: 0px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-left: 40px; 
}

.line {
    padding: 1.15em 0;
    border-top: 1px solid #ececec;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-left: 40px; 
}

.content {
    padding: 1.15em 0;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-left: 40px; 
}